@import "tailwindcss";

@font-face {
  font-family: "Poppins";
  src:
    url("/fonts/Poppins-Medium.woff2") format("woff2"),
    url("/fonts/Poppins-Medium.woff") format("woff");
  font-weight: medium;
}

:root {
  --background: #F1F5F8;
  --foreground: #7F858D;
  --selected: #343434;
  --moved: #FFFFFF;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', sans-serif;
  font-weight: medium;  
  font-size: 14px;
}
